@model IEnumerable<Book>

@{
    ViewData["Title"] = "AuthorIndex";
}
<h1>Books</h1>
<p>
    <a asp-action="BookCreate" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Add Book</a>
</p>
<div class="input-group mb-3">
    <input type="text" id="searchInput" class="form-control" placeholder="Search...">
</div>
<div class="row">
    <div class="col-md-6">
        <div>
            <button id="titleSearch" class="btn btn-primary" type="button">Search by Title</button>
            <button id="authorSearch" class="btn btn-secondary mr-2" type="button">Search by Author</button>
            <a class="btn btn-success mr-2" type="button" asp-action="BookIndex">Clear search result</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                Available
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@(item.IsAvailable ? "Yes" : "No")</td>
                <td>
                    <a asp-action="Details" class="btn btn-success" asp-route-ID="@item.Id">Details <i class="fa fa-edit"></i></a>
                    <a asp-action="UpdateBook" class="btn btn-warning" asp-route-ID="@item.Id">Edit <i class="fa fa-edit"></i></a>
                    <a asp-action="DeleteBook" class="btn btn-danger" asp-route-ID="@item.Id">Delete <i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Search title button event handler
            $("#titleSearch").click(function () {
                // Get input
                var searchQuery = $("#searchInput").val();

                // Construct the URL
                var url = '@Url.Action("TitleIndex", "Book", new { title = "__searchQuery__" })';
                url = url.replace("__searchQuery__", searchQuery);

                // Redirect to the URL
                window.location.href = url;
            });

            // Search author button event handler
            $("#authorSearch").click(function () {
                // Get input
                var searchQuery = $("#searchInput").val();

                // Construct the URL
                var url = '@Url.Action("AuthorIndex", "Book", new { author = "__searchQuery__" })';
                url = url.replace("__searchQuery__", searchQuery);

                // Redirect to the URL
                window.location.href = url;
            });
        });
    </script>
    }
